<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<head th:replace="common/header :: head"></head>
</head>

<body>
<div th:replace="common/header :: top-navigation">...</div>

<p th:text="${#strings.toUpperCase('asdf')}"></p>
<p th:text="${asdf}"></p>
<tr th:each="lotoMaster : ${lotoMasters}">
	<td th:text="${lotoMaster.toString()}"></td>
</tr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>