<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<head th:replace="common/header :: head"></head>
</head>
<body>
<div th:replace="common/header :: top-navigation">...</div>

<div class="container">
    <h1>ロト6 予想＆当選管理システム</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>さんログイン中。
    </p>
    <!-- <form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト"></form> -->

	<div class="row">
		<div class="col-sm-6">
			<p class="lead">予想ナンバー</p>
		</div>
		<div class="col-sm-6">
			<p class="lead">選択ナンバー</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<form th:action="@{/loto_numbers/create}" class="form-horizontal" method="post">
				<fieldset>
				<!-- <legend>予想ナンバー</legend> -->

				<!-- ex1
				<p>ex1</p>
				<div data-toggle='buttons'>
						<label th:each="number, stat : ${predictingNumbers}" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div> -->
				<!-- ex2
				<p>ex2</p>
				<div data-toggle='buttons'>
				<span>
						<label th:each="number, stat : ${predictingNumbers}" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</span>
				</div> -->
				<!-- ex3
				<p>ex3</p>
				<div data-toggle='buttons'>
				<span th:each="number, stat : ${predictingNumbers}">
						<label  th:if="${stat.index} lt 6" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<label  th:unless="${stat.index} lt 6" class='btn btn-info btn-sm' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</span>
				</div> -->
				<!-- ex4
				<p>ex4</p>
				<div data-toggle='buttons'>
						<label th:each="number, stat : ${predictingNumbers}" >
						<input  class='btn btn-primary btn-lg' type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div> -->
				<!-- ex5
				<p>ex5</p>
				<div class="btn-group-toggle" data-toggle="buttons">
						<span th:each="number, stat : ${predictingNumbers}" >
						<label class="btn btn-secondary active">
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						</span>
				</div> -->
				<!-- ex6
				<p>ex6</p>
				<div class="btn-group-toggle" data-toggle="buttons">
						<span th:each="number, stat : ${predictingNumbers}" >
						<label  th:if="${stat.index} lt 6" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<label  th:unless="${stat.index} lt 6" class='btn btn-info btn-sm' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						</span>
				</div> -->
				<!-- ex7
				<p>ex7</p>
				<p class="animated infinite jello" >ex7</p>
				<div class="btn-group-toggle" data-toggle="buttons">
						<label th:each="number, stat : ${predictingNumbers}" th:if="${stat.index} lt 6" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<label th:each="number, stat : ${predictingNumbers}" th:unless="${stat.index} lt 6" class='btn btn-default btn-sm' >
						<input  type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div> -->
				<!-- <p>ex8</p>
				<div class="btn-group-toggle" data-toggle="buttons">
						<label th:each="number, stat : ${predictingNumbers}" th:if="${stat.index} lt 6" class='btn btn-primary btn-lg animated infinite pulse' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<label th:each="number, stat : ${predictingNumbers}" th:unless="${stat.index} lt 6" class='btn btn-default btn-sm fuwafuwa' >
						<input  type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div> -->
				<!-- <p>ex9</p>
				<div class="btn-group-toggle" data-toggle="buttons">
						<label th:each="number, stat : ${predictingNumbers}" th:if="${stat.index} lt 6" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<p></p>
						<label th:each="number, stat : ${predictingNumbers}" th:unless="${stat.index} lt 6" class='btn btn-default btn-sm' >
						<input  type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div>
				<p></p> -->
				<div class="btn-group-toggle" data-toggle="buttons">
						<label th:each="number, stat : ${predictingNumbers}" th:if="${stat.index} lt 6" class='btn btn-primary btn-circle btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<p></p>
						<label th:each="number, stat : ${predictingNumbers}" th:unless="${stat.index} lt 6" class='btn btn-default btn-circle btn-sm' >
						<input  type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
				</div>
<!--
				<div data-toggle='buttons'>
					<span th:each="number, stat : ${predictingNumbers}">
						<label th:if="${stat.index} lt 6" class='btn btn-primary btn-lg' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
						<label th:unless="${stat.index} lt 6" class='btn btn-info btn-sm' >
						<input type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</label>
					</span>
				</div>
-->
<!--
 							<input th:if="${stat.index} lt 12" class='btn btn-success' type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
							<input th:if="${stat.index} lt 43" class='btn btn-success btn-sm' type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
				<div data-toggle='buttons'>
					<label th:each="number, stat : ${predictingNumbers}">
					<span th:if="${stat.index} lt 6" >
						<input class='btn btn-primary btn-lg' type='checkbox' name='inputMultiCheck' th:value="${number}" th:text="${number}" th:field="${form.inputMultiCheck}" />
						</span>
					</label>
				</div>
-->
				</fieldset>

				<p></p>
				<p>
					<input type="submit" class="btn btn-success" value="確定">
				</p>
			</form>
		</div>
		<div class="col-sm-6">
	        <table class="table table-striped table-bordered table-hover">
	            <tr th:each="item : ${list}">
	                <td th:each="checked : ${item.inputMultiCheck}" th:text="${checked}">1</td>
	            </tr>
	        </table>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>