.error-input {
    border-color: #b94a48;
    margin-left: 5px;
}

.error-messages {
    color: #b94a48;
}

body { padding-top: 70px; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn.disabled, .btn[disabled] {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed <img draggable="false" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg"> */
  box-shadow: none !important;
  text-shadow: none !important;
}

#fuwa0 {
	position : absolute;
	top : 75px;
    left : 50px;
}
#fuwa1 {
	position : absolute;
	top : 75px;
    left : 125px;
}
#fuwa2 {
	position : absolute;
	top : 75px;
    left : 200px;
}
#fuwa3 {
	position : absolute;
	top : 75px;
    left : 275px;
}
#fuwa4 {
	position : absolute;
	top : 75px;
    left : 350px;
}
#fuwa5 {
	position : absolute;
	top : 75px;
    left : 425px;
}
#fuwa6 {
	position : absolute;
	top : 150px;
    left : 40px;
}
#fuwa7 {
	position : absolute;
	top : 150px;
    left : 80px;
}
#fuwa8 {
	position : absolute;
	top : 150px;
    left : 120px;
}
#fuwa9 {
	position : absolute;
	top : 150px;
    left : 160px;
}
#fuwa10 {
	position : absolute;
	top : 150px;
    left : 200px;
}
#fuwa11 {
	position : absolute;
	top : 150px;
    left : 240px;
}
#fuwa12 {
	position : absolute;
	top : 150px;
    left : 280px;
}
#fuwa13 {
	position : absolute;
	top : 150px;
    left : 320px;
}
#fuwa14 {
	position : absolute;
	top : 150px;
    left : 360px;
}
#fuwa15 {
	position : absolute;
	top : 150px;
    left : 400px;
}
#fuwa16 {
	position : absolute;
	top : 150px;
    left : 440px;
}
#fuwa17 {
	position : absolute;
	top : 150px;
    left : 480px;
}
#fuwa18 {
	position : absolute;
	top : 200px;
    left : 40px;
}
#fuwa19 {
	position : absolute;
	top : 200px;
    left : 80px;
}
#fuwa20 {
	position : absolute;
	top : 200px;
    left : 120px;
}
#fuwa21 {
	position : absolute;
	top : 200px;
    left : 160px;
}
#fuwa22 {
	position : absolute;
	top : 200px;
    left : 200px;
}
#fuwa23 {
	position : absolute;
	top : 200px;
    left : 240px;
}
#fuwa24 {
	position : absolute;
	top : 200px;
    left : 280px;
}
#fuwa25 {
	position : absolute;
	top : 200px;
    left : 320px;
}
#fuwa26 {
	position : absolute;
	top : 200px;
    left : 360px;
}
#fuwa27 {
	position : absolute;
	top : 200px;
    left : 400px;
}
#fuwa28 {
	position : absolute;
	top : 200px;
    left : 440px;
}
#fuwa29 {
	position : absolute;
	top : 200px;
    left : 480px;
}
#fuwa30 {
	position : absolute;
	top : 250px;
    left : 40px;
}
#fuwa31 {
	position : absolute;
	top : 250px;
    left : 80px;
}
#fuwa32 {
	position : absolute;
	top : 250px;
    left : 120px;
}
#fuwa33 {
	position : absolute;
	top : 250px;
    left : 160px;
}
#fuwa34 {
	position : absolute;
	top : 250px;
    left : 200px;
}
#fuwa35 {
	position : absolute;
	top : 250px;
    left : 240px;
}
#fuwa36 {
	position : absolute;
	top : 250px;
    left : 280px;
}
#fuwa37 {
	position : absolute;
	top : 250px;
    left : 320px;
}
#fuwa38 {
	position : absolute;
	top : 250px;
    left : 360px;
}
#fuwa39 {
	position : absolute;
	top : 250px;
    left : 400px;
}
#fuwa40 {
	position : absolute;
	top : 250px;
    left : 440px;
}
#fuwa41 {
	position : absolute;
	top : 250px;
    left : 480px;
}
#fuwa42 {
	position : absolute;
	top : 250px;
    left : 520px;
}


.fuwafuwa1 {
	-webkit-animation-name:fuwafuwa1;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa1;
	-moz-animation-duration:4s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes fuwafuwa1 {
	0% {-webkit-transform:translate(0, 0);}
	20% {-webkit-transform:translate(0, -10px);}
	40% {-webkit-transform:translate(-5, -5px);}
	60% {-webkit-transform:translate(5, 0px);}
	80% {-webkit-transform:translate(0, 10px);}
	100% {-webkit-transform:translate(0, 5);}
}
@-moz-keyframes fuwafuwa1 {
	0% {-moz-transform:translate(0, 0);}
	20% {-moz-transform:translate(0, -10px);}
	40% {-moz-transform:translate(-5, -5px);}
	60% {-moz-transform:translate(5, 0px);}
	80% {-moz-transform:translate(0, 10px);}
	100% {-moz-transform:translate(0, 5);}
}

.fuwafuwa2{
	-webkit-animation-name:fuwafuwa2;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa2;
	-moz-animation-duration:4s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes fuwafuwa2 {
	0% {-webkit-transform:translate(0, 0);}
	20% {-webkit-transform:translate(-5, 0px);}
	40% {-webkit-transform:translate(0, -10px);}
	60% {-webkit-transform:translate(0, -5px);}
	80% {-webkit-transform:translate(10, -5px);}
	100% {-webkit-transform:translate(5, 0);}
}
@-moz-keyframes fuwafuwa2 {
	0% {-moz-transform:translate(0, 0);}
	20% {-moz-transform:translate(-5, 0px);}
	40% {-moz-transform:translate(0, -10px);}
	60% {-moz-transform:translate(0, -5px);}
	80% {-moz-transform:translate(10, -5px);}
	100% {-moz-transform:translate(5, 0);}
}